{#- ------------------------------------------------------------------------ -#} 
{%- macro h2(opts) -%}
  {#- --------------------------------------------- -#}
  {%- set opts  = kwargs            -%}
  {%- set atts  = opts.attributes   -%}
  {#- --------------------------------------------- -#}
  <h2 {{atts}}>{%- if caller %}{{- caller( ) -}}{% endif -%}</h2>
{%- endmacro -%}

{#- ------------------------------------------------------------------------ -#} 
{%- macro ul(opts) -%}
  {#- --------------------------------------------- -#}
  {%- set opts = kwargs  -%}
  {#- --------------------------------------------- -#}
  <ul>{% if caller %}{{- caller( ) -}}{% endif %}</ul>
{%- endmacro -%}

{#- ------------------------------------------------------------------------ -#} 
{%- macro li(opts) -%}
  {#- --------------------------------------------- -#}
  {%- set opts = kwargs  -%}
  {#- --------------------------------------------- -#}
  <li>{% if caller %}{{- caller( ) -}}{% endif %}</li>
{%- endmacro -%}

{#- ------------------------------------------------------------------------ -#} 
{%- macro para(opts) -%}
  {#- --------------------------------------------- -#}
  {%- set opts = kwargs  -%}
  {#- --------------------------------------------- -#}
  <p>{% if caller %}{{- caller( ) -}}{% endif %}</p>
{%- endmacro -%}

{#- ------------------------------------------------------------------------ -#} 
{%- macro tagg(opts) -%}
  {#- --------------------------------------------- -#}
  {%- set opts  = kwargs            -%}
  {%- set name  = opts.name         -%}
  {%- set atts  = opts.attributes   -%}
  {#- --------------------------------------------- -#}
  <{{ name }} {{atts}}>{% if caller %}{{- caller( ) -}}{% endif %}</{{name}}>
{%- endmacro -%} 
